# Clojure and Clojurescript
pom.xml
pom.xml.asc
*.jar
*.zip
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.shadow-cljs/

# Node
node_modules/

# MacOS
*.DS_Store

# Terraform
.terraform*
/terraform.*

# Other
*/public/css/
*/public/js/