{:deps {:aliases [:dev/js]}
 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]
         :init-ns flow.dev}
 :ssl {:keystore "ssl/keystore.jks"
       :password #env "KEYSTORE_PASSWORD"}
 :dev-http {8080 "public"}
 :source-paths ["src/main"]
 :builds {:app {:target :browser
                :compiler-options {:optimizations :advanced}
                :devtools {:repl-pprint true
                           :after-load flow.core/mount}
                :modules {:index {:init-fn flow.core/initialise}}}}}
