{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        ring/ring-core {:mvn/version "1.8.0"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        medley/medley {:mvn/version "1.2.0"}
        metosin/muuntaja {:mvn/version "0.6.6"}
        com.amazonaws/aws-lambda-java-core {:mvn/version "1.1.0"}
        ses-mailer/ses-mailer {:mvn/version "0.0.4"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        danlentz/clj-uuid {:mvn/version "0.1.9"}
        com.taoensso/faraday {:mvn/version "1.11.1"}
        expound/expound {:mvn/version "0.8.9"}
        slingshot/slingshot {:mvn/version "0.12.2"}}
 :aliases {:repl {:extra-paths ["src/dev" "test/common" "test/unit" "test/feature"]
                  :extra-deps {ring/ring-jetty-adapter {:mvn/version "1.8.0"}
                               lambdaisland/kaocha {:mvn/version "1.0.829"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}
                               cider/cider-nrepl {:mvn/version "0.26.0"}}
                  :main-opts ["--main"
                              "nrepl.cmdline"
                              "--middleware"
                              "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}
           :test/unit {:extra-paths ["test/common" "test/unit"]
                       :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
                       :main-opts ["--main" "kaocha.runner" "--focus" "unit"]}
           :test/feature {:extra-paths ["test/common" "test/feature"]
                          :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
                          :main-opts ["--main" "kaocha.runner" "--focus" "feature"]}
           :compile {:extra-paths ["src/main" "classes"]
                     :main-opts ["-e" "(compile,'flow.core)"]}
           :zip {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                               :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
                 :main-opts ["--main"]}}}
